DB_DIALECT="mysql" # Tipo de banco de dados
DB_HOST="localhost" # Hospedar Localmente algo
DB_PORT="3306" # Porta padrão do MYSQL (Banco de Dados)

DB_DATABASE="" # Nome do banco de dados
DB_USERNAME="" # Usuário do banco de dados
DB_PASSWORD="" # Senha do banco de dados

PORT=8083 # Porta do servidor